*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pink-button{
    background-color: #FF6A84;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
}

.pink-button:hover{
    background-color: hsl(350, 100%, 61%);
}