*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: 0.3s;
}

.navlinks {
    display: flex;
    gap: 2rem;
}

.navlinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #FF6A84;
}


@media (max-width: 1024px) {
    .navlinks {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navlinks {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        gap: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .navlinks.active {
        display: flex;
        max-height: 300px; 
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .contact-desktop{
        display: none;
    }
}*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: 0.3s;
}

.navlinks {
    display: flex;
    gap: 2rem;
}

.navlinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #FF6A84;
}


@media (max-width: 1024px) {
    .navlinks {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navlinks {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        gap: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .navlinks.active {
        display: flex;
        max-height: 300px; 
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .contact-desktop{
        display: none;
    }
}